.wrapper {
  max-width: 73.6rem;

  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  justify-content: center;
}

.form {
  display: flex;
  gap: 0.8rem;

  height: 5.4rem;
  margin-top: -2.7rem;

  flex: 1;
  width: 100%;
}

.form input {
  flex: 1;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  
  color: var(--gray-100);
  padding-left: 1.6rem;

  line-height: 1.4;
 
  font-size: 1.6rem;
}

.form input::placeholder {
  color: var(--gray-300);
}

.form button {
  background: var(--blue-300);
  border: none;
  border-radius: 8px;

  padding: 1.6rem;

  color: var(--gray-100);
  font-size: 1.6rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  gap: 0.6rem;

  cursor: pointer;
}

.form button:disabled {
  opacity: 80%;
  cursor: not-allowed;
}

.form svg {
  width: 1.6rem; 
  height: 1.6rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 6.4rem;
}

.listHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-bottom: 2.4rem;
}

.listHeader strong {
  font-size: 1.4rem;
  margin-right: 0.8rem;
}

.listHeader strong:nth-child(1) {
  color: var(--blue-500);
}

.listHeader strong:nth-child(2) {
  color: var(--purple-500);
}

.listHeader strong span {
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 0.2rem 0.8rem;

  border-radius: 999px;
}

.emptyListContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  color: var(--gray-300);
  line-height: 1.4;

  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.emptyListContent img {
  height: 5.6rem;
  width: 5.6rem;

  margin: 6.4rem 0 1.6rem;
}

.listContent {
  display: flex;
  flex-direction: column;

  width: 100%;

  line-height: 1.4;
}

.listContent > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  background: var(--gray-500);

  margin-bottom: 1.2rem;
  padding: 1.6rem;

  border: 1px solid var(--gray-400);
  border-radius: 8px;
}

.listContent > div p {
  max-width: 62.3rem;

  flex: 1;

  font-size: 1.4rem;
}

.taskDone {
  color: var(--gray-300);
  text-decoration: line-through;
}

.listContent > div button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 4px;

  flex-shrink: 0;

  width: 2.4rem;
  height: 2.4rem;

  margin-top: -0.15rem;

  color: var(--gray-300);

  transition: background 0.2s;
  transition: color 0.2s;
}

.listContent > div svg{
  height: 1.7rem;
  width: 1.5rem;
}

.listContent > div button:hover{
  background: var(--gray-400);
  color: var(--red-500);
}

.checkBox {
  width: 1.65rem;
  height: 1.65rem;

  margin: 0.25rem;

  flex-shrink: 0;
  
  border: 2px solid var(--blue-500);
  border-radius: 100%;

  transition: background 0.2s
}

.checkBox svg {
  display: none;
}

.checkBoxDone {
  display: flex;
  align-items: center;
  width: 1.65rem;
  height: 1.65rem;

  margin: 0.25rem;

  flex-shrink: 0;
  
  background: var(--purple-300);
  border: 2px solid var(--purple-300);
  border-radius: 100%;

  transition: background 0.2ss
}